a {
    color: white;
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

h2 {
    color: white;
    font-weight: bold;
}

#copyright {
    text-align: center;
    color: white;
    font-size: 1.2em;
}