#home-header {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 350px;
    width: 100%;
}

#home-header h1 {
    font-size: 3em;
    font-weight: bold;
}

#home-header p {
    font-size: 1.2em;
    max-width: 600px;
}

.section-header {
    font-size: 2em;
    text-align: center;
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}